.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 15px 0px;
}

.product_info {
    margin-left: 40px;
}

.product_info h3{
    font-weight: 400;
    color: blue;
}

.clck_btn{
    padding: 5px 30px;
    background-color: gold;
    color: black;
    border: 1px solid gainsboro;
    border-radius: 3px;
    cursor: pointer;
}